<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492498325517-1qc482tlm94ut0n1hocmke7rg00ugalh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492498325517-1qc482tlm94ut0n1hocmke7rg00ugalh</string>
	<key>API_KEY</key>
	<string>AIzaSyBV2IJim_EpQChvBJD2t5NGvcHwzRLaNeU</string>
	<key>GCM_SENDER_ID</key>
	<string>492498325517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FQSara.firebase</string>
	<key>PROJECT_ID</key>
	<string>fqsara-a0d79</string>
	<key>STORAGE_BUCKET</key>
	<string>fqsara-a0d79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492498325517:ios:dae0f4f9507f0328d98544</string>
</dict>
</plist>